{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}" />
  </head>

  <body>
    <div class="quadrado">
      <div id="tela-login">
        <h2>Login</h2>

        <form method="POST">
          {% csrf_token %}
          <div class="inserir-dado">
            <input type="email" id="email" name="email" placeholder="E-mail" required>
          </div>
          <div class="inserir-dado">
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
          </div>
          <div class="lembrar-esqueci">
            <label><input type="checkbox" name="lembrar" value="on" />Lembrar-me</label>
            <a href="{% url 'esqueci_senha' %}" id="link-esqueci-senha">Esqueci minha senha</a>
          </div>

          <button type="submit" class="btn-login">Entrar</button>
          
          {% if messages %}
              {% for message in messages %}
                  <p class="{{ message.tags }}">{{ message }}</p>
              {% endfor %}
          {% endif %}
          
          <div class="extras">
            <p>Não tem cadastro? <a href="{% url 'cadastro_escolha' %}">Cadastre-se!</a></p>
          </div>
        </form>
      </div>

      <div id="tela-esqueci-senha">
        <h2>Esqueci minha senha</h2>
        <p>Digite seu e-mail abaixo para recuperar a senha</p>
        <form method="POST" action="{% url 'esqueci_senha' %}">
          {% csrf_token %}
          <div class="inserir-dado">
            <input type="email" name="email" placeholder="E-mail" required>
          </div>
          <button type="submit" class="btn-esqueci">Concluir</button>

          <div class="extras_e">
            <p><a href="{% url 'login' %}" id="link-voltar-login">Voltar para o login</a></p>
          </div>
        </form>
      </div>
    </div>
    <script src="{% static 'login/js/script.js' %}"></script>
  </body>
</html>
