* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

header {
    background-color: #00CFD4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.logo img{
    width: 300px;
    margin: 40px;
    height: auto;
}
img {
    width: 30px;
}

nav {
    background-color: #00CFD4;
    padding-left: 40px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: left;
    gap: 50px;
    list-style: none;
}

.menu li a {
    color: #9269F3;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
}

.quadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9269F3;
    color: white;
    width: 1480px;
    height: 900px;
    padding: 50px;
    border-radius: 20px;
    margin: 20px;
} 

.esquerda {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.direita {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    width: 50%;
    height: 100%;
}

.nome-pet {
    margin: 100px 50px 50px 50px;
}

.informacoes {
    margin-bottom: 30px;
    font-size: 20px;
}

.info,
.hist-saude {
    height: 100px;
    font-size: 20px;
}

.status-pet {
    align-items: left;
}

footer {
    display: flex;
    background-color: #00CFD4;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}