* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

header {
    background-color: #00CFD4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.logo img{
    width: 300px;
    margin: 40px;
    height: auto;
}
img {
    width: 30px;
}

nav {
    background-color: #00CFD4;
    padding-left: 40px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: left;
    gap: 50px;
    list-style: none;
}

.menu li a {
    color: #9269F3;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
}

.quadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9269F3;
    color: white;
    width: 1480px;
    height: 700px;
    padding: 50px;
    border-radius: 20px;
    margin: 20px;
} 

.esquerda {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.foto {
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-pet {
    margin: 35px 0px 0px 0px;
    display: flex;
    align-items: left;
    font-size: 20px;
}

.direita {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    width: 50%;
    height: 100%;
}

.nome-pet {
    margin: 0px 0px 30px 0px;
    font-size: 40px;
}

.informacoes {
    margin-bottom: 30px;
    font-size: 20px;
}

.info,
.hist-saude {
    height: 100px;
    font-size: 20px;
}

.info p,
.hist-saude p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.botoes {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.botoes a button{
    display: flex;
    width: 250px;
    padding: 15px;
    background-color: #5a128a;
    border: none;
    outline: none;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
    text-decoration: none;
}

.botoes a button:hover {
    background-color: #3a0e58;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    background-color: #00CFD4;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}