{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Pet</title>
        <link rel="stylesheet" href="{% static 'cadpet/css/style.css' %}">
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="{% static 'cadpet/images/logo.png' %}" alt="logo">
            </div>
        </header>
        <nav>
            <ul class="menu">
                <li><a href="{% url 'localpet_ong' %}">Rastrear</a></li>
                <li><a href="{% url 'cadpet_page' %}">Cadastrar</a></li>
                <li><a href="#">Histórico</a></li>
                <li><a href="#">Solicitações</a></li>
                <li><a href="#">Pets</a></li>
            </ul>
        </nav>
        
        <main>
            <section>
                <div class="quadrado">
                    <div class="titulo">
                        <h1>Cadastro de Pets</h1>
                    </div>
                    <div class="conteudo">
                        <div class="esquerda">
                            <div class="visualizador">
                                <label class="foto" for="fotoInput" tabIndex="0">
                                <span class="fotoImg">Choose an image</span>
                                </label>
                                <input type="file" name="foto" id="fotoInput" accept="image/*">
                            </div>
                        </div>
                        <div class="direita">
                            <form action="/api/cadpet/" method="post" enctype="multipart/form-data" class="dados">
                                <div class="inserir-dado">
                                    <label for="nome">Nome:</label>
                                    <input type="text" id="nome" name="nome">
                                </div>
                                <div class="inserir-dado">
                                    <label for="porte">Porte:</label>
                                    <input type="text" id="porte" name="porte">
                                </div>
                                <div class="inserir-dado">
                                    <label for="raca">Raça:</label>
                                    <input type="text" id="raca" name="raca">
                                </div>
                                <div class="inserir-dado">
                                    <label for="peso">Peso:</label>
                                    <input type="text" id="peso" name="peso">
                                </div>
                                <div class="inserir-dado">
                                    <label for="idade">Idade:</label>
                                    <input type="number" id="idade" name="idade" step="any">
                                </div>
                                <p>Espécie:</p>
                                <input type="radio" id="gato" name="especie" value="G" class="input-radio">
                                <label for="gato">Gato</label>
                                <input type="radio" id="cachorro" name="especie" value="C" class="input-radio">
                                <label for="cachorro">Cachorro</label>
                                <p>Sexo:</p>
                                <input type="radio" id="masc" name="sexo" value="M" class="input-radio">
                                <label for="masc">Macho</label>
                                <input type="radio" id="fem" name="sexo" value="F" class="input-radio">
                                <label for="fem">Fêmea</label><br>
                                <p>Castrado:</p>
                                <input type="radio" id="sim" name="castrado" value="S" class="input-radio">
                                <label for="sim">Sim</label>
                                <input type="radio" id="nao" name="castrado" value="N" class="input-radio">
                                <label for="nao">Não</label>
                                <div class="inserir-dado">
                                    <label for="observacoes">Sobre o pet:</label>
                                    <textarea id="observacoes" name="obs"></textarea>
                                </div>
                                <div class="inserir-dado">
                                    <label for="historico_saude">Histórico de Saúde:</label>
                                    <textarea id="historico_saude" name="historico_saude"></textarea>
                                </div>
                            <div class="botoes">
                                <div class="botao-concluir">
                                    <button type="submit">Concluir</button>
                                </div>
                                <div class="botao-cancelar">
                                    <button type="button">Cancelar</button> 
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>© 2025 Patas Na Rua</p>
        </footer>
        <script src="{% static 'cadpet/js/cadpet.js' %}"></script>
    </body>
</html> 