{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Patas Na Rua</title>
        <link rel="stylesheet" href="{% static 'cadpet/css/style.css' %}">
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="{% static 'cadpet/images/logo.png' %}" alt="logo">
            </div>
        </header>
        <nav>
            <ul class="menu">
                <li><a href="#">Rastrear</a></li>
                <li><a href="#">Cadastrar</a></li>
                <li><a href="#">Histórico</a></li>
                <li><a href="#">Solicitações</a></li>
                <li><a href="#">Pets</a></li>
            </ul>
        </nav>
        
        <main>
            <section>
                <div class="quadrado">
                    <div class="titulo">
                        <h2>Cadastro de Pets</h2>
                    </div>
                    <div class="conteudo">
                        <div class="esquerda">
                            <img src="/images/pets/{{ imgpet.id }}" alt="Imagem do pet" title="Imagem do Pet">
                        </div>
                        <div class="direita">
                            <form action="/enviar-dados" method="post" class="dados">
                                <div class="inserir-dado">
                                    <label for="nome">Nome:</label>
                                    <input type="text" id="nome">
                                </div>
                                <div class="inserir-dado">
                                    <label for="raca">Raça:</label>
                                    <input type="text" id="raca">
                                </div>
                                <div class="inserir-dado">
                                    <label for="peso">Peso:</label>
                                    <input type="text" id="peso">
                                </div>
                                <div class="inserir-dado">
                                    <label for="idade">Idade:</label>
                                    <input type="number" id="idade" step="any">
                                </div>
                                <input type="radio" id="masc" name="sexo" value="masculino" class="input-sexo">
                                <label for="masc">Macho</label>
                                <input type="radio" id="fem" name="sexo" value="feminino" class="input-sexo">
                                <label for="fem">Fêmea</label><br>
                                <div class="inserir-dado">
                                    <label for="observacoes">Observações:</label>
                                    <input type="text" id="observacoes">
                                </div>
                            <div class="botoes">
                                <button type="submit">Concluir</button>
                                <button type="button">Cancelar</button> 
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>© 2025 Patas Na Rua</p>
        </footer>
    </body>
</html>