* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

header {
    background-color: #00CFD4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px; /* Adicione esta linha */
}

.logo img{
    width: 300px;
    margin: 150px;
    height: auto;
}

.voltar {
    position: absolute;
    top: 55px;
    left: 55px;
    width: 55px;
}
img {
    width: 30px;
}

nav {
    background-color: #00CFD4;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: left;
    gap: 50px;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}