* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

header {
    background-color: #00CFD4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.logo img{
    width: 300px;
    margin: 40px;
    height: auto;
}
img {
    width: 30px;
}

nav {
    background-color: #00CFD4;
    padding-left: 40px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: left;
    gap: 50px;
    list-style: none;
}

.menu li a {
    color: #9269F3;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
}

.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9269F3;
    color: white;
    width: 1480px;
    height: 700px;
    padding: 10px 50px 50px 50px;
    border-radius: 20px;
    margin: 20px;
}

.titulo {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
}    

.esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.direita {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.inserir-dado {
    position: relative;
    margin-bottom: 30px;
    width: 650px;
}

.inserir-dado input,
.inserir-dado textarea {
    width: 650px;
    padding: 10px 22px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    transition: all 0.3s ease;
}

.inserir-dado textarea {
    height: 110px;
    resize: none;
}

.input-sexo {
    margin-bottom: 25px;
}

label[for="masc"] {
    margin-right: 20px;
}

.visualizador {
    border: 2px dashed #ccc;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#imagemVisualizada {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
}

.botao-concluir button,
.botao-cancelar button {
    width: 250px;
    padding: 15px;
    background-color: #5a128a;
    border: none;
    outline: none;
    border-radius: 35px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    background-color: #00CFD4;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}